/*
 * Purpl
 * Development, 0.01 
 */
 
 body {
     background: url(../images/dashes-hor.png) repeat-x;
     background-position: 0 5px;
     color: #000;
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 11px;
     margin: 0;
     padding: 0;
 }
 
 p {
     margin: 0;
     padding: 0;
 }
 
 #container {
     width: 900px;
     margin: 0 auto;
     padding: 0;
 }
 
 #white-container {
     width: 600px;
     background-color: #FFF;
 }
 
 #header {
     width: 180px;
     display: block;
     float: left;
     padding: 10px;
 }
 
 #header h1 {
     color: #936BA5;
     font-size: 40px;
     font-weight: bold;
     text-transform: uppercase;
     margin: 0;
     padding: 0;
 }
 
 #header #logo-block {
     border-bottom: 1px solid #E5E5E5;
     position: relative;
     margin: 10px 0;
     padding-bottom: 10px;
 }
 
 #header #logo-block span.version {
     color: #AAA;
     position: absolute;
     top: 8px;
     right: 10px;
 }
 
 #header #logo_block a {
     color: #FFF;
     text-decoration: none;
 }
 
 #header #logo_block a:hover {
     text-decoration: underline;
 }
 
 #header ul#menu {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }
 
 #header ul#menu li a {
     display: block;
     color: #505050;
     text-decoration: none;
     padding: 10px 5px;
 }
 
 #header ul#menu li a:hover {
     background-color: #936BA5;
     color: #FFF;
 }
 
 #content {
     width: 665px;
     color: #505050;
     border-left: 1px solid #E5E5E5;
     display: block;
     float: left;
     margin: 10px 0;
     padding: 10px 10px 10px 15px;
 }
 
 #content p {
     text-align: justify;
     margin: 10px 0;
 }
 
 #content h1 {
     font-family: 'Open Sans';
     font-size: 39px;
     line-height: 40px;
 }
 
 #content h1.post-title {
     font-size: 13px;
     line-height: 20px;
     margin: 0;
     padding: 0;
 }
 
 #content pre {
     background-color: #FFF;
     border-left: 5px solid #936BA5;
     padding: 5px 10px;
 }
 
 #footer {
     color: #505050;
 }
 
 
 /* Tables */
 table.table_output {
     font-size: 12px;
     margin: 0;
     padding: 0;
 }
 
 table.table_output td {
     padding: 5px;
 }
 
 table.table_output thead td {
     font-size: 10px;
     text-transform: uppercase;
 }
 
 table.table_output tbody tr:nth-child(even) {
     background-color: #FFF;
 }